.venv/
__pycache__/
*.py[cod]
.env
.DS_Store

.texpadtmp/
# Ignore Latex intermediate files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cbl
*.cb2
*.lb
*.blg
*.bbl
*.brf
*.nlo
*.nls
*.synctex.gz
*.fdb_latexmk
*.snm
*.nav
*.vrb

